<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.robusta.photoweather">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PhotoWeather">
        <activity
            android:name="com.robusta.photoweather.UI.AddingNewImageScreen"
            android:exported="false" />
        <activity
            android:name="com.robusta.photoweather.UI.SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.robusta.photoweather.UI.HomeScreen"
            android:exported="true" />


        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.robusta.photoweather.fileprovider"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <meta-data
            android:name="org.openweathermap.API_KEY"
            android:value="e3f229951bacd55cb8d295a88f1692e7" />
    </application>

</manifest>